<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hero-TP</title>
</head>
<body>
    <h1 class="title">HERO</h1>
    <header>
        <ul class="menu">
            <li><a class="aMenu" href="/">Home</a></li>
            <li><a class="aMenu" href="/babbage">Babbage</a></li>
            <li><a class="aMenu" href="/berners-lee">Berners-Lee</a></li>
            <li><a class="aMenu" href="/clarke">Clarke</a></li>
            <li><a class="aMenu" href="/hamilton">Hamilton</a></li>
            <li><a class="aMenu" href="/hopper">Hopper</a></li>
            <li><a class="aMenu" href="/lovelace">Lovelace</a></li>
            <li><a class="aMenu" href="/turing">Turing</a></li>
        </ul>
    </header>

    <h2>Turing</h2>
    <div class="divContainer">
        <img class="pictureImg" src="/img/turing.webp" alt="">
        <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, delectus facere ipsam expedita velit officia porro iure recusandae eligendi similique provident voluptas suscipit et soluta perferendis dolorum repellat ducimus dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore officiis quibusdam reiciendis itaque perspiciatis, nulla beatae reprehenderit, facere, ipsam tenetur similique laudantium soluta quo quod eum dolorem? Deserunt, sed earum!</p>
        
    </div>

</body>
</html>